
* {
    margin: 0;
    padding: 0;
}

/* ======FONT=========== */
@font-face {
    font-family: "PT-Serif";
    src: url(fonts/PT-Serif/PTSerif-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT-Serif";
    src: url(fonts/PT-Serif/PTSerif-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PT-Serif";
    src: url(fonts/PT-Serif/PTSerif-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PT-Serif";
    src: url(fonts/PT-Serif/PTSerif-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* =========VARIEBALS========= */

:root {
    --var-font-family: "PT-Serif";
}

body {
    font-family: var(--var-font-family);
    font-size: 16px;
    line-height: 1.2;
}

/* =========HEADER=========== */

.header--color {
    background-color: black;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.header__title {
    font-family: var(--var-font-family);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

/* =========MAIN============== */
.main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.my-way__header {
    font-family: var(--var-font-family);
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}

.my-way__header--margin-bottom {
    margin-bottom: 20px;
}

.my-way__photo {
    width: 270px;
    height: 350px;
    border: 2px solid rgb(11, 11, 124);
    border-radius: 10px;
    background-image: url(images/My_photo-min.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
    box-sizing: border-box;
}

.my-way__photo--margin-right {
    margin-right: 30px;
}

.my-way__text {
    font-family: var(--var-font-family);
    font-size: 24px;
    font-weight: normal;
    text-indent: 30px;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; 
}

.my-way__text--margin-top {
    margin-top: 10px;
}

/* ========MY-SKILLS========== */

.my-skills__header {
    font-family: var(--var-font-family);
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}

.my-skills__header--margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-skills__text{
    font-family: var(--var-font-family);
    font-size: 24px;
    font-weight: normal;
    text-indent: 30px;
}

.my-skills__text--margin-bottom {
    margin-bottom: 10px;
}

.my-skills__items  {
    list-style-type: disc;   
}

.my-skills__items--padding-left {
    padding-left: 60px;
}

.my-skills__item {
    font-family: var(--var-font-family);
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
}

.my-skills__item--margin-top {
    margin-top: 10px;
}

/* =======MY-WORKS============ */

.my-works__header {
    font-family: var(--var-font-family);
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}

.my-works__header--margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.noemi {
    display: grid;
    gap: 30px;
    grid-template-areas: 'bikecenter netology';
    box-sizing: border-box;
}

.bikecenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: bikecenter;
}

.netology {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: netology;
}

.noemi--padding {
    padding: 30px;
}

.noemi__iframe {
    width: 600px;
    height: 600px;
    border: none;
    border-radius: 12px;
}

.noemi__blok-link--margin-top {
    margin-top: 20px;
}

.noemi__link {
    text-decoration: none;
}

.noemi__link--margin-top {
    margin-top: 10px;
    margin-left: 10px;
}

.noemi__btn {
    font-family: var(--var-font-family);
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.noemi__btn--padding {
    padding: 10px 30px;
}

.noemi__btn--hover:hover {
    background-color: gray;
}

/* =======SERNIFICATES========= */
.my_sertificates {
    margin-top: 30px;
}

.sertificates_header {
    font-family: "PT-Serif";
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}

.sertificates_items {
    font-family: "PT-Serif";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-indent: 30px;
}

.certificat_link {
    font-style: italic;
    text-decoration: none;
    
}
/* ==========FOOTER=========== */
.footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacts {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contacts_header {
    font-family: "PT-Serif";
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.contacts_text {
    font-family: "PT-Serif";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-indent: 30px;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.contacts_items {
    list-style-type: none;
}

.contacts_item_italic {
    font-style: italic;
    font-weight: 800;
}

/* Стилизация под телефон */
@media (max-width: 640px){
    
    .main {
        padding-left: 30px;
    }

    .my_way_photo {
        float: none;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .footer {
        padding-left: 30px;
    }
}